{% load issaved from filters %}

{% for resource in resources %}
{% if user.is_authenticated %}

<a href="{% url 'resource_save' pk=resource.pk %}" title="Save this resource to your profile" class="btn btn-info btn-small {% if resource|issaved:user %}disabled{% endif %}"><i class="icon-save"></i> {% if resource|issaved:user %}Saved{% else %}Save{% endif %}</a>
{% ifequal resource.created_by user %}<a href="{% url 'resource_update' pk=resource.id %}" class="btn btn-small"><i class="icon-edit"></i> Edit</a>{% endifequal %}
{% endif %}
{% endif %}
 