{% extends "login/base.html" %}
{% load staticfiles %}
{% block head_title %} Home|{% endblock %}


{% block content %}



<div class='col-md-6 col-sm-offset-3'>
<form method='POST'>{% csrf_token %}
{{form.as_p}}
<input type='submit' class='btn btn-default' value='login'/>
<p><a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><img src="{% static "img/Facebook-Login-Icon.png" %}"/></a></p>
                <p><a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><img src="{% static "img/Google-Login-Icon.png" %}"/></a></p>
</form>
</div>

{% endblock %}